.h-100 {
    height: 100vh !important;
    overflow: hidden;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50vw;
}

.pt-3 {
    padding-top: 2.5rem;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff !important;
}

.profile-container {
    position: relative;
    width: 100%;
}

.m-0 {
    margin: 0 !important;
}

.intro {
    background-color: #000;
    position: relative;
}

.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-media ul {
    display: inline-flex;
    list-style: none;
}

.social-media ul li {
    margin-right: 2rem;
}

.social-media ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar-container {
    display: flex;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-items {
    display: inline-flex;
    list-style-type: none;
    padding-inline-start: 0;
}

.nav-items li {
    margin-right: 80px;
}

.nav-items li:last-child {
    margin-right: 0px;
}

.about {
    position: relative;
}

.about-info {
    display: block;
}

.contact-info {
    display: none;
}

.project-infos {
    display: none;
}

.project {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.project-info {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 1.2s ease-in-out 0s;
    transition: all 1.2s ease-in-out 0s;
}

.project-img img {
    -webkit-transition: all 1.2s ease-in-out 0s;
    transition: all 1.2s ease-in-out 0s;
}

.project:hover .project-img img {
    opacity: 0.6;
}

.project:hover .project-info {
    opacity: 1;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 100;
}

@media only screen and (max-width: 768px) {
    .w-50 {
        width: 100vw !important;
    }

    .navbar-container {
        justify-content: center;
    }
}

@media only screen and (min-width: 769px) {
    .profile-container {
        display: flex;
    }

    .navbar-container {
        justify-content: flex-end;
    }

    .nav-items {
        padding-right: 20px;
    }
}